extends layout

block content

        form(method="POST")
            div
                label(for="name") Person's Full Name:
                input(type="text" id="name" name="name" autocomplete="off" value=person.name required)

            div
                button(type="submit") Add Person
